@page {
  size: A4 portrait;
  margin: .7in;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
  padding: 0;
}

.doc-root {
  line-height: 1.25;
}

.kop {
  color: #1F3864;
  margin-bottom: 24pt;
}

.kop > .image {
  width: 108px;
  margin-right: 16px;
  float: left;
}

.kop > .title {
  display: block;
  font-family: 'Times-Roman';
  font-size: 14pt;
}

.kop > .subtitle {
  display: block;
  font-family: 'Helvetica';
  font-size: 10pt;
}

.doc-body {
  margin: 0 16pt;
}

.body-header {
  text-align: center;
  margin-bottom: 24pt;
}

.body-header > .title {
  font-size: 16pt;
  font-weight: normal;
  text-decoration: underline;
  margin-bottom: 4pt;
}

.body-header > .nomor-surat {
  display: block;
  font-size: 12pt;
}

.body-main * {
  margin-bottom: 8pt;
}

.justify {
  text-align: justify;
}

.info-list {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.info-list td {
  padding: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 12pt;
}

.table th, .table td {
  border: thin solid #000;
  padding: 4px 6px;
  text-align: left;
}

.table th {
  font-weight: normal;
}

.table + p {
  padding-top: 4pt;
}

.ttd {
  float: right;
  margin-top: 24pt;
  page-break-inside: avoid;
}

.ttd span {
  display: block;
}